apsw==3.24.0.post1
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
CherryPy==8.9.1
Click==7.0
configparser==3.5.0b2
cryptography==2.3
css-parser==1.0.4
cssselect==1.0.3
cssutils==1.0.2
dnspython==1.16.0
duplicity==0.7.18.2
entrypoints==0.3
enum34==1.1.6
fasteners==0.12.0
feedparser==5.2.1
Flask==1.1.1
Flask-Sockets==0.2.1
geographiclib==1.49
geopy==1.18.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==19.9.0
html5-parser==0.4.5
html5lib==1.0.1
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==17.1.1
keyrings.alt==3.1.1
lockfile==0.12.2
lxml==4.3.3
Markdown==3.0.1
MarkupSafe==1.1.1
mechanize==0.2.5
monotonic==1.5
msgpack==0.5.6
netifaces==0.10.4
olefile==0.46
Pillow==5.4.1
pipenv==2018.11.26
pycrypto==2.6.1
Pygments==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.2.0
PyQt5==5.12.1
python-dateutil==2.7.3
pyxdg==0.25
PyYAML==3.13
redis==3.3.8
regex==2019.2.7
repoze.lru==0.7
Routes==2.4.1
SecretStorage==2.3.1
simplejson==3.16.0
six==1.12.0
soupsieve==1.8
typing==3.7.4.1
uTidylib==0.5
virtualenv==16.7.4
virtualenv-clone==0.5.3
webencodings==0.5.1
WebOb==1.8.5
Werkzeug==0.15.5
wxPython==3.0.2.0
wxPython-common==3.0.2.0
